<section>
    <mat-grid-list cols="2" class="row">
        <mat-grid-tile>
            <div class="column">
                <h2> Welcome, I'm Hanna Liman</h2>
                <h4>A creator, computer engineer and handyperson</h4>
                <br><br>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="column">
                <img src="../../assets/LinkedIn_profilbild.JPG" alt="profilbild">
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</section>

