@import "~@fortawesome/fontawesome-free/css/all.css";


footer {
    background-color: rgb(138, 158, 103);
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    border-radius: 0 0 20px 20px;
    
}



footer p {
    margin: 0;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}


footer li {
    display: inline-block;
    margin: 0 10px;
}



footer li:first-child {
    margin-left: 0;
    
}

footer li:last-child {
    margin-right: 0;
} 

footer a , p{
    color: #f8f9f1ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.bottom-div {
    margin-top: 40px;
    padding: 10px;
    background-color:  #667c40ff;
    border-radius: 0 0 20px 20px;
}

.bottom-div p {
    color: #f8f9f1ff;
    
    
}
