<section id="projects-section">
  <div class="row">
    <h2>My Projects</h2>
    <br>
  </div>
  <mat-grid-list cols="2" class="row" rowHeight="30px" gutterSize="15px">
    <mat-grid-tile [colspan]="2" class="card-section" 
      *ngFor="let card of cards">
        <a mat-card [routerLink]="card.slug" class="card" style="height: 100%">
          <mat-card-content>
            {{ card.content }}
          </mat-card-content>
        </a>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="row second-row">
    <router-outlet></router-outlet>
  </div>
</section>
