/* CSS HEX */
:root {
    --baby-powder: #f8f9f1ff;
    --fern-green: #667c40ff;
    --carrot-orange: #f19a3eff;
    --van-dyke: #403233ff;
    --eggplant: #754668ff;
}

body {
    background-color: #f8f9f1ff !important;
}

p {
    color: #f8f9f1ff;
}