---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import Layout from "../layouts/main.astro";
import HannaLimanText from "../components/hannaliman-text.astro";
---

<Layout title="Hanna Liman">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
  
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <!-- <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
          Hanna Liman
        </h1> -->
        <div class="mb-6">
        <HannaLimanText firstName="Hanna" lastName="Liman" size="text-[5rem]" lastSize="text-[5.7rem]" />
        </div>


        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          I’m a creative problem solver with a hands-on approach to learning and building.
        </p>
        <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
          I can help you out with:
        </p>
        <ul
          class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
          <li>Leading workshops and hands-on coding projects</li>
          <li>Microsoft Power Platform and automations</li>
          <li>UX/UI Design & Logo Design</li>
          <li>Public Speaking & Sharing my Experiences</li>
          <li>and more...</li>
        </ul>
        <Button text="Follow me on LinkedIn" link="https://www.linkedin.com/in/limanhanna/" />
      </div>
      <div class="hidden w-full mt-10 md:flex md:w-1/2 md:mt-0">
        <div class="w-full px-10">
          <img
            src="/assets/images/profilepic.png"
            loading="eager"
            decoding="auto"
            class="w-full max-w-md mx-auto"
            style="height: auto;"
          />
        </div>
      </div>
    </div>
  </div>

  <Separator text="Some of my writing" />
  <Writings />
  
  <Separator text="Check out my projects" />
  <Projects />
  
</Layout>
