---
import bergODalar from "../../public/assets/berg-o-dalar.svg";
---

<div
  class="absolute inset-0 -z-10 pointer-events-none bg-no-repeat opacity-40 dark:opacity-20"
  style={`background-image: url(${bergODalar.src}); background-size: cover; background-position: top center; top: -200px; height: calc(10% + 50px);`}
></div>