---
const { link, text } = Astro.props;
---

<a
  href={link}
  class="inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold duration-300 ease-out transform border-dashed border-neutral-300 rounded-full bg-bgbutton text-textbutton shadow-sm hover:-translate-y-0.5 hover:border-neutral-700 hover:bg-neutral-100 hover:shadow-md"
>
  {text}
</a>
