<section
  class="text-text bg-secondary sm:mt-20 dark:bg-bgfooter border-neutral-600 dark:border-neutral-800"
>
  <div class="container mx-auto px-7 max-w-7xl py-16">
    <!-- Top row -->
    <div
      class="flex flex-col items-center text-center space-y-6 sm:flex-row sm:justify-between sm:text-left sm:space-y-0"
    >
      <!-- Contact Info -->
      <div class="text-sm text-text dark:text-text">
        <p class="font-semibold mb-2">Contact Info</p>
        <p class="mb-1">Konsultbyrå Liman</p>
        <p class="mb-1">Y-tunnus: 3468124-6</p>
      </div>

      <div class="flex justify-center mt-8 space-x-5"></div>
      <span
        class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start"
      >
        <a
          href="https://www.linkedin.com/in/limanhanna"
          target="_blank"
          class="text-text dark:text-text hover:text-accent dark:hover:text-accent"
        >
          <span class="sr-only">LinkedIn</span>
          <svg
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <path d="M19 0H5C2.24 0 0 2.24 0 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5V5c0-2.76-2.24-5-5-5zM7.09 20.45H3.56V8.98h3.53v11.47zM5.32 7.63c-1.13 0-1.94-.92-1.94-1.94 0-1.07.88-1.94 1.94-1.94 1.07 0 1.94.87 1.94 1.94 0 1.02-.86 1.94-1.94 1.94zM20.45 20.45h-3.53v-5.57c0-1.33-.03-3.04-1.85-3.04-1.85 0-2.13 1.44-2.13 2.93v5.68h-3.53V8.98h3.39v1.57h.05c.47-.89 1.61-1.83 3.31-1.83 3.54 0 4.19 2.33 4.19 5.36v6.92z" />
          </svg>
        </a>

        <a
          href="https://github.com/HannaLiman"
          target="_blank"
          class="text-text dark:text-text hover:text-accent dark:hover:text-accent"
        >
          <span class="sr-only">GitHub</span>
          <svg
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true"
            ><path
              fill-rule="evenodd"
              d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
              clip-rule="evenodd"></path></svg
          >
        </a>
      </span>
    </div>

    <!-- Divider -->
    <div class="my-10"></div>

    <!-- Bottom row -->
    <div class="text-center text-sm text-text dark:text-text">
      © {new Date().getFullYear()} Hanna Liman
    </div>
  </div>
</section>
