---
const { firstName, lastName, size, lastSize} = Astro.props;
---

<h1 class="text-left text-[#7699d4] tracking-tight">
<span class={`block font-playfair font-extrabold leading-[0.9] ${size}`}>
    {firstName}
  </span>
  <span class={`block font-playfair font-normal leading-[0.75] tracking-[-0.89px] ${lastSize}`}>
    {lastName}
  </span>
</h1>