---

import bergODalarLeft from "../../public/assets/berg-o-dalar-left.svg";
import bergODalarRight from "../../public/assets/berg-o-dalar-right.svg";
---

<div class="absolute w-full h-auto" style="z-index:-1">
  <div
    class="absolute top-0 left-0 w-1/2 h-auto bg-bg dark:bg-bg"
  >
    <div
      class="absolute inset-0 z-30 w-full h-full mt-0 pointer-events-none bg-gradient-to-tl from-bg dark:from-bg from-55% via-80% to-100% via-transparent to-transparent"
    >
    </div>
    <div class="flex flex-col w-full h-full">
      <div
        class="w-full h-[55vh] bg-no-repeat opacity-50 dark:opacity-20"
        style={`background-image: url(${bergODalarLeft.src}); background-size: cover; background-position: center 65%;`}
      ></div>
    </div>
  </div>

  <div
    class="absolute top-0 right-0 w-1/2 h-auto bg-bg dark:bg-bg"
  >
    <div
      class="absolute inset-0 z-30 w-full h-full mt-0 pointer-events-none bg-gradient-to-tr from-bg dark:from-bg from-55% via-80% to-100% via-transparent to-transparent"
    >
    </div>
    <div class="flex flex-col w-full h-full ">
      <div
        class="w-full h-[55vh] bg-no-repeat opacity-50 dark:opacity-20"
        style={`background-image: url(${bergODalarRight.src}); background-size: cover; background-position: center 65%;`}
      ></div>
    </div>
  </div>
</div>
